extends layout

block content
    h1 Followers
    .row
        .col-md-12.col-sm-12.col-xs-12.col-lg-12
                .dropdown-menu
                a.dropdown-item(href="/user/") @tywilliam
                a.dropdown-item(href="#") @tywilliams
                a.dropdown-item(href="#") @cartercoffee
                a.dropdown-item(href="#") @coffeeswing


