extends layout

block content
    .row
        .col-md-6
            .card(style="width: 18rem;")
            img.card-img-top(src="https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg-1024x683.jpg" alt="Card image cap")
            .card-body
                h5.card-title Card title
                p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
            ul.list-group.list-group-flush
                li.list-group-item Cras justo odio
                li.list-group-item Dapibus ac facilisis in
                li.list-group-item Vestibulum at eros
            .card-body
                button.btn.btn-lg.btn-primary.card-link(href="#") Following
